---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";

/*
import logos from "../images/deploy-logos.png";
import logosSmall from "../images/deploy-logos-small.png";
*/
---

<Layout title="About Astro Tonight">
    <Showcase heading="About Astro Tonight" text="Explore the infinite possibilities of Astro"/>
    <section class="page-content">
        <div class="container">
          <h2>About Astro Tonight</h2>
          <p>
            At Astro’s Tonight, the night sky is your canvas, and our mission is to help you capture the beauty of the stars. Whether you're in need of inspiration, tips on capturing the best shots, or simply want to immerse yourself in the wonders of the universe, our website is the perfect place to start.
          </p>
  
          <Card dark= {true}>
            <h3>Use the tools you already love</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
              deserunt inventore ut voluptate, officia maiores repellat tenetur
              praesentium omnis est ex tempora a necessitatibus reiciendis at et
              dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
              laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
              iusto error molestias dolorum, necessitatibus labore?
            </p>
          </Card>
          
          <h3>Our Team Members</h3>
          <img class="logos" src="/images/deploy-logos.png" alt="" />
          <img class="logos-small" src="/images/deploy-logos-small.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
            doloribus, vel ipsum mollitia aliquid cumque commodi corrupti omnis
            ipsam sit earum, dolore quisquam harum qui non, quasi ea voluptatum
            debitis!
          </p>
  
      
            <h3>Join our Community</h3>
            <p>
              Join us in the Astro Discord to share with and get help from an
              active, friendly community!
            </p>
  
            <ul>
              <li>💬 Say hi in our #introduce-yourself channel!</li>
              <li>
                💬 Ask our Support Squad a question in our #support-threads
                channel!
              </li>
              <li>
                💬 Share what you've been working on in our #showcase channel!
              </li>
            </ul>
       
        </div>
      </section>
</Layout>