---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
---

<Layout title="Forum | Astro Tonight">
<<<<<<< HEAD:src/pages/blog.astro
    <Showcase heading="Blog @ Astro" text="Explore the infinite possibilities of Astro"/>
=======
    <Showcase heading="Forums @ Astro" text="Explore the infinite possibilities of Astro"/>
>>>>>>> e1d4f07dc4baa8215062b1dda170883ff086db8a:src/pages/forums.astro
    <section class="page-content">
        <div class="container">
            <h2>Blog</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, vel
                quas repudiandae optio voluptatibus dolore maxime sed nisi ad, quod
                exercitationem. Magni facilis ducimus neque nostrum voluptas, eius,
                aliquam ullam eligendi corporis perferendis dolor iusto veniam cumque
                saepe iste porro, non optio amet. Enim esse porro incidunt sequi
                consectetur vitae.
            </p>
        </div>
    </section>
</Layout>