---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Main from '../components/Main.astro';
import Newgallery from '../components/Newgallery.astro';
import Modal from "../components/Modal.astro";

---
<Layout title='Space Gallery | Astro Tonight'>
    <Main>
        <Showcase heading='Space Gallery', text='Explore the infinite possibilities of Astro'/>
        <Newgallery/>
    </Main>  
</Layout>