---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import PlanetList from "../components/PlanetList.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";

const planets = await getCollection("planets");
console.log(planets)

//const planets = await Astro.glob('../content/planets/*.md');
---

<Layout title="Blog | Astro Tonight">
	<Showcase heading="Blog" text="Explore the infinite possibilities of Astro"/>
	<section class="page-content">
		<div class="container">
			<!-- <h2>Planet Gallery</h2> -->
			{planets.map(planet => (
				<PlanetList planets={planets}/>
			))}
		</div>
	</section>
</Layout>
