---
const featuresData = [
    {title: 'Astro Photography', body: "Astrophotography is a type of photography that captures a celestial object or events. Essentially, if in space and you capture it with a camera, you're engaging in astrophotography.", image:"fas fa-camera fa-4x tm-icon-1"},
    {title: 'Bird Watching', body: 'Birdwatching, or birding, is the observing of birds, either as a recreational activity or as a form of citizen science. A birdwatcher may observe by using their naked eye, by using a visual enhancement device like binoculars or a telescope.', image:"fas fa-binoculars fa-4x tm-icon-1"},
    {title: 'Stargazing Locations', body: '6 best places to stargazing near Mumbai are Mahuli, Dehene, Bhandardara, Vaiterna and Naneghat, you can visit their and Enjoy Stargazing Night.', image:"fas fa-star fa-4x tm-icon-1"}
];

import Card from "./Card.astro";
---
<section class="features">
    <div class="container">
      {featuresData.map(feature => (
        <Card dark= {false}>
          <i class={feature.image}></i>
            <h3>{feature.title}</h3>
            <p>{feature.body}</p>
        </Card> 
      ))}
    </div>
  </section>

  <style>
    /* Cards */
    .features .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 20px;
        margin: 30px auto;
    }

    @media (max-width: 500px) {
    .features .container {
        grid-template-columns: 1fr;
    }
    }
  </style>