
<div class="absolute h-full w-full bg-zinc-800/70 top-0 bottom-0 z-10 flex items-center justify-center">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
        <a href="/gallery2">
            <img class="rounded-t-lg" src="/images/M101.png" alt="" />
        </a>
        <div class="p-5">
        <p>Cluster M101</p>
        </div>
    </div>
</div>

    
