
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M101.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M100.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M103.png" alt="">
            </a>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M104.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M105.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M106.png" alt="">
            </a>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M107.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
            <img class="h-auto max-w-full rounded-lg" src="/images/M108.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M109.png" alt="">
            </a>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M110.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M080.png" alt="">
            </a>
        </div>
        <div>
            <a href="/gallery1">
                <img class="h-auto max-w-full rounded-lg" src="/images/M081.png" alt="">
            </a>
        </div>
    </div>
</div>
